<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.semako.asksa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:targetApi="m">
        <activity android:name=".vue.FormClientpmActivity" android:label="Personne morale"
            android:parentActivityName=".vue.ListeClientActivity"></activity>

        <activity
            android:name=".vue.FormClientppActivity"
            android:label="Personne physique"
            android:parentActivityName=".vue.ListeClientActivity" />
        <activity
            android:name=".vue.ListeClientActivity"
            android:label="Liste des clients"
            android:parentActivityName=".vue.MainActivity" />
        <activity android:name=".vue.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"
                />
        </activity>
    </application>

</manifest>